<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <title>kakao map</title>
    <script type="text/javascript"
            src="//dapi.kakao.com/v2/maps/sdk.js?appkey=47a1ad933f7654384770f45a4556436c"></script>
</head>
<body>
<div id="map" style="width:100%;height:100vh;"></div>
<div id="userId" th:data-value="${userId}"></div>
<!--산책로-->
<!-- 모델로부터 trailTotalPagesNum 변수를 받아오는 코드 -->
<div id="trailTotalPagesNum" th:data-value="${trailTotalPagesNum}"></div>
<div th:with="trailTotalPagesNum=${trailTotalPagesNum}"></div>
<!-- 반복문 시작 -->
<div th:each="index : ${#numbers.sequence(1, trailTotalPagesNum)}">
    <!-- 반복되는 요소에 대한 id 동적 생성 -->
    <div th:id="'trailDataElement' + ${index}" th:attr="data-value=${__${'trailData' + index}__}"></div>
</div>
<!-- 반복문 끝 -->

<!--등산로-->
<!-- 모델로부터 hikingTotalPagesNum 변수를 받아오는 코드 -->
<div id="hikingTotalPagesNum" th:data-value="${hikingTotalPagesNum}"></div>
<div th:with="hikingTotalPagesNum=${hikingTotalPagesNum}"></div>
<!-- 반복문 시작 -->
<div th:each="index : ${#numbers.sequence(1, hikingTotalPagesNum)}">
    <!-- 반복되는 요소에 대한 id 동적 생성 -->
    <div th:id="'hikingDataElement' + ${index}" th:attr="data-value=${__${'hikingData' + index}__}"></div>
</div>
<!-- 반복문 끝 -->

<!--공원1-->
<!-- 모델로부터 park1TotalPagesNum 변수를 받아오는 코드 -->
<div id="park1TotalPagesNum" th:data-value="${park1TotalPagesNum}"></div>
<div th:with="park1TotalPagesNum=${park1TotalPagesNum}"></div>
<!-- 반복문 시작 -->
<div th:each="index : ${#numbers.sequence(1, park1TotalPagesNum)}">
    <!-- 반복되는 요소에 대한 id 동적 생성 -->
    <div th:id="'park1DataElement' + ${index}" th:attr="data-value=${__${'park1Data' + index}__}"></div>
</div>
<!-- 반복문 끝 -->

<!--공원2-->
<!-- 모델로부터 park2TotalPagesNum 변수를 받아오는 코드 -->
<div id="park2TotalPagesNum" th:data-value="${park2TotalPagesNum}"></div>
<div th:with="park2TotalPagesNum=${park2TotalPagesNum}"></div>
<!-- 반복문 시작 -->
<div th:each="index : ${#numbers.sequence(1, park2TotalPagesNum)}">
    <!-- 반복되는 요소에 대한 id 동적 생성 -->
    <div th:id="'park2DataElement' + ${index}" th:attr="data-value=${__${'park2Data' + index}__}"></div>
</div>
<!-- 반복문 끝 -->

<!--공원3-->
<!-- 모델로부터 park3TotalPagesNum 변수를 받아오는 코드 -->
<div id="park3TotalPagesNum" th:data-value="${park3TotalPagesNum}"></div>
<div th:with="park3TotalPagesNum=${park3TotalPagesNum}"></div>
<!-- 반복문 시작 -->
<div th:each="index : ${#numbers.sequence(1, park3TotalPagesNum)}">
    <!-- 반복되는 요소에 대한 id 동적 생성 -->
    <div th:id="'park3DataElement' + ${index}" th:attr="data-value=${__${'park3Data' + index}__}"></div>
</div>
<!-- 반복문 끝 -->

<div id="nowLatitude" th:data-value="${nowLatitude}"></div>
<div id="nowLongitude" th:data-value="${nowLongitude}"></div>
<input type="hidden" id="swLatLngHtml" value="값"/>

<script>
    var userId = document.getElementById("userId").getAttribute("data-value");

    //현재 사용자 위치
    var nowLat = document.getElementById("nowLatitude").getAttribute("data-value");
    //console.log(nowLat);
    var nowLng = document.getElementById("nowLongitude").getAttribute("data-value");
    //console.log(nowLng);

    //방문한 산책로 리스트 가져오기
    var xhttp2 = new XMLHttpRequest();
    var visitedTrailList = [];

    // HTTP 요청을 Promise로 감싸기
    // (visitedTrailList에 값이 들어오기 전에 사용하는 것 방지)
    function makeTrailRequest() {
        return new Promise(function (resolve, reject) {
            xhttp2.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    //promise 사용하지 않으면 이 부분이 폴리라인 그린 이후일 수 있음.
                    var response = JSON.parse(this.responseText);
                    visitedTrailList = response;
                    resolve(visitedTrailList); // Promise를 이행하고 visitedTrailList 반환
                }
            };

            var url = "/visitedTrails?id=" + userId;
            xhttp2.open("POST", url, true);
            xhttp2.send();
        });
    }

    //방문한 등산로 리스트 가져오기
    var xhttp4 = new XMLHttpRequest();
    var visitedHikingList = [];

    // HTTP 요청을 Promise로 감싸기
    // (visitedHikingList에 값이 들어오기 전에 사용하는 것 방지)
    function makeHikingRequest() {
        return new Promise(function (resolve, reject) {
            xhttp4.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    //promise 사용하지 않으면 이 부분이 폴리라인 그린 이후일 수 있음.
                    var response = JSON.parse(this.responseText);
                    visitedHikingList = response;
                    resolve(visitedHikingList); // Promise를 이행하고 visitedHikingList 반환
                }
            };

            var url = "/visitedHikings?id=" + userId;
            xhttp4.open("POST", url, true);
            xhttp4.send();
        });
    }

    //방문한 공원 리스트 가져오기
    var xhttp6 = new XMLHttpRequest();
    var visitedParkList = [];

    // HTTP 요청을 Promise로 감싸기
    // (visitedParkList에 값이 들어오기 전에 사용하는 것 방지)
    function makeParkRequest() {
        return new Promise(function (resolve, reject) {
            xhttp6.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    //promise 사용하지 않으면 이 부분이 폴리라인 그린 이후일 수 있음.
                    var response = JSON.parse(this.responseText);
                    visitedParkList = response;
                    resolve(visitedParkList); // Promise를 이행하고 visitedParkList 반환
                }
            };

            var url = "/visitedParks?id=" + userId;
            xhttp6.open("POST", url, true);
            xhttp6.send();
        });
    }


    //산책로 page 수 가져오기
    var trailTotalPagesNum = document.getElementById("trailTotalPagesNum").getAttribute("data-value");


    //등산로 page 수 가져오기
    var hikingTotalPagesNum = document.getElementById("hikingTotalPagesNum").getAttribute("data-value");


    //공원1 page 수 가져오기
    var park1TotalPagesNum = document.getElementById("park1TotalPagesNum").getAttribute("data-value");


    //공원2 page 수 가져오기
    var park2TotalPagesNum = document.getElementById("park2TotalPagesNum").getAttribute("data-value");


    //공원3 page 수 가져오기
    var park3TotalPagesNum = document.getElementById("park3TotalPagesNum").getAttribute("data-value");


    //다 출력 금지 - 로딩 안됨
    // for(i = 0;obj.length;i++){
    //     console.log(obj[i]);
    // }


    var container = document.getElementById('map');
    var options = {
        center: new kakao.maps.LatLng(37.5031, 126.9569),
        //37°30'11"N 126°57'25"E
        level: 6
    };

    var map = new kakao.maps.Map(container, options);

    // 마우스 드래그로 지도 이동이 완료되었을 때 마지막 파라미터로 넘어온 함수를 호출하도록 이벤트를 등록합니다
    kakao.maps.event.addListener(map, 'dragend', function () {

        //지도 경계 좌표
        var bounds = map.getBounds();

        // 영역의 남서쪽 좌표를 얻어옵니다
        var swLatLng = bounds.getSouthWest();
        var swLatLngString = swLatLng.getLat() + "," + swLatLng.getLng();
        //console.log(swLatLng);

        // 영역의 북동쪽 좌표를 얻어옵니다
        var neLatLng = bounds.getNorthEast();
        var neLatLngString = neLatLng.getLat() + "," + neLatLng.getLng();
        //console.log(neLatLng);


        // AJAX를 사용하여 좌표 값을 서버로 전송
        /*
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                console.log("좌표 전송 완료");
            }
        };
        xhttp.open("POST", "/getMapSwNe", true);
        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xhttp.send("swLatLng=" + swLatLngString + "&neLatLng=" + neLatLngString);
        */
    });

    async function fetchData() {
        try {
            visitedTrailList = await makeTrailRequest();
            console.log("서버에서 받은 visitedTrailList:", visitedTrailList);

            var nowTrail;
            var nowTrailLat;
            var nowTrailLng;

            //산책로 page 1~all
            //그냥 j로 features 모두 for문 돌리면 다 paths안에 들어가서 그림이 엉망이 됨.
            for (let k = 1; k <= trailTotalPagesNum; k++) {
                // 각 데이터 요소에 대한 id
                let dataElementId = "trailDataElement" + k;

                // 데이터 요소에서 데이터 가져오기
                let trailData = document.getElementById(dataElementId).getAttribute("data-value");

                // 데이터 파싱
                const obj = JSON.parse(trailData);
                //console.log(obj); //features~
                //console.log(obj[0]); //geometry~ 1개(안에 properties 있음)
                //console.log(obj[0].geometry); //coordinates~
                //console.log(obj[0].geometry.coordinates[0][0]); //이게 좌표 하나임

                // 산책로 그리기
                for (let j = 0; j < obj.length; j++) {
                    let paths = [];

                    let properties = JSON.stringify(obj[j].properties);
                    let lnkNam = JSON.parse(properties).lnk_nam;

                    for (let k = 0; k < obj[j].geometry.coordinates.length; k++) {
                        for (let i = 0; i < obj[j].geometry.coordinates[k].length; i++) {
                            paths.push(new kakao.maps.LatLng(obj[j].geometry.coordinates[k][i][1], obj[j].geometry.coordinates[k][i][0]));
                        }
                    }

                    var polyline;
                    if (visitedTrailList.includes(lnkNam)) {
                        polyline = new kakao.maps.Polyline({
                            path: paths,
                            strokeWeight: 10,
                            strokeColor: '#79DF00',
                            strokeOpacity: 0.8,
                            strokeStyle: 'solid'
                        });
                    } else {
                        polyline = new kakao.maps.Polyline({
                            path: paths,
                            strokeWeight: 10,
                            strokeColor: '#424141',
                            strokeOpacity: 0.5,
                            strokeStyle: 'solid'
                        });
                    }
                    polyline.setMap(map);


                    kakao.maps.event.addListener(polyline, 'click', function (mouseEvent) {
                        var latlng = mouseEvent.latLng;
                        console.log(latlng.toString());
                        console.log(properties);
                        nowTrail = JSON.parse(properties);
                        nowTrailLat = latlng.getLat();
                        nowTrailLng = latlng.getLng();
                        console.log(nowTrail);
                        visitTrail(nowTrail, paths);
                    });
                }
            }

            function visitTrail(nowTrail, paths) {
                var polylineTrans = new kakao.maps.Polyline({
                    map: map,
                    path: [
                        new kakao.maps.LatLng(nowTrailLat, nowTrailLng),
                        //new kakao.maps.LatLng(nowLat, notLng)
                        new kakao.maps.LatLng(37.47500129095575, 126.97069693667093)
                    ],
                    strokeWeight: 2,
                    strokeColor: '#FF00FF',
                    strokeOpacity: 0,
                    strokeStyle: 'dashed'
                });
                var length = polylineTrans.getLength()
                console.log("길이: " + length);
                if (length <= 10111111) {
                    nowTrail.id = userId;
                    var xhttp3 = new XMLHttpRequest();
                    xhttp3.onreadystatechange = function () {
                        if (this.readyState == 4 && this.status == 200) {
                            // 요청이 완료되었을 때의 동작
                            console.log("Visited trails added successfully!");

                            var polyline = new kakao.maps.Polyline({
                                path: paths,
                                strokeWeight: 10,
                                strokeColor: '#79DF00',
                                strokeOpacity: 0.8,
                                strokeStyle: 'solid'
                            });
                            polyline.setMap(map);
                        }
                    };

                    var url = "/addVisitedTrail";
                    xhttp3.open("POST", url, true);
                    xhttp3.setRequestHeader("Content-type", "application/json");

                    var data = JSON.stringify(nowTrail);
                    console.log(data);
                    xhttp3.send(data);
                } else {
                    nowTrail.id = userId;
                    var xhttp3 = new XMLHttpRequest();
                    xhttp3.onreadystatechange = function () {
                        if (this.readyState == 4 && this.status == 200) {
                            // 요청이 완료되었을 때의 동작
                            console.log("Far Trail!");
                        }
                    };

                    var url = "/notVisitedTrail";
                    xhttp3.open("POST", url, true);
                    xhttp3.setRequestHeader("Content-type", "application/json");

                    var data = JSON.stringify(nowTrail);
                    console.log(data);
                    xhttp3.send(data);
                }

            }

            visitedHikingList = await makeHikingRequest();
            console.log("서버에서 받은 visitedHikingList:", visitedHikingList);

            var nowHiking;
            var nowHikingLat;
            var nowHikingLng;


            //등산로 page 1~all
            for (let k = 1; k <= hikingTotalPagesNum; k++) {
                // 각 데이터 요소에 대한 id
                let dataElementId = "hikingDataElement" + k;

                // 데이터 요소에서 데이터 가져오기
                let hikingData = document.getElementById(dataElementId).getAttribute("data-value");

                // 데이터 파싱
                const hikingObj = JSON.parse(hikingData);

                // 등산로 그리기
                for (let j = 0; j < hikingObj.length; j++) {
                    let paths2 = [];

                    let properties = JSON.stringify(hikingObj[j].properties);
                    let mntnNm = JSON.parse(properties).mntn_nm;

                    for (let k = 0; k < hikingObj[j].geometry.coordinates.length; k++) {
                        for (let i = 0; i < hikingObj[j].geometry.coordinates[k].length; i++) {
                            paths2.push(new kakao.maps.LatLng(hikingObj[j].geometry.coordinates[k][i][1], hikingObj[j].geometry.coordinates[k][i][0]));
                        }
                    }

                    var polyline;
                    if (visitedHikingList.includes(mntnNm)) {
                        polyline = new kakao.maps.Polyline({
                            path: paths2,
                            strokeWeight: 10,
                            strokeColor: '#79DF00',
                            strokeOpacity: 0.8,
                            strokeStyle: 'solid'
                        });
                    } else {
                        polyline = new kakao.maps.Polyline({
                            path: paths2,
                            strokeWeight: 10,
                            strokeColor: '#424141',
                            strokeOpacity: 0.5,
                            strokeStyle: 'solid'
                        });
                    }

                    polyline.setMap(map);


                    kakao.maps.event.addListener(polyline, 'click', function (mouseEvent) {
                        var latlng = mouseEvent.latLng;
                        console.log(latlng.toString());
                        console.log(properties);
                        nowHiking = JSON.parse(properties);
                        nowHikingLat = latlng.getLat();
                        nowHikingLng = latlng.getLng();
                        console.log(nowHiking);
                        visitHiking(nowHiking, paths2);
                    });
                }
            }

            function visitHiking(nowHiking, paths) {
                var polylineTrans = new kakao.maps.Polyline({
                    map: map,
                    path: [
                        new kakao.maps.LatLng(nowHikingLat, nowHikingLng),
                        //new kakao.maps.LatLng(nowLat, notLng)
                        new kakao.maps.LatLng(37.47500129095575, 126.97069693667093)
                    ],
                    strokeWeight: 2,
                    strokeColor: '#FF00FF',
                    strokeOpacity: 0,
                    strokeStyle: 'dashed'
                });
                var length = polylineTrans.getLength()
                console.log("길이: " + length);
                if (length <= 10111111) {
                    nowHiking.id = userId;
                    var xhttp5 = new XMLHttpRequest();
                    xhttp5.onreadystatechange = function () {
                        if (this.readyState == 4 && this.status == 200) {
                            // 요청이 완료되었을 때의 동작
                            console.log("Visited Hikings added successfully!");

                            var polyline = new kakao.maps.Polyline({
                                path: paths,
                                strokeWeight: 10,
                                strokeColor: '#79DF00',
                                strokeOpacity: 0.8,
                                strokeStyle: 'solid'
                            });
                            polyline.setMap(map);
                        }
                    };

                    var url = "/addVisitedHiking";
                    xhttp5.open("POST", url, true);
                    xhttp5.setRequestHeader("Content-type", "application/json");

                    var data = JSON.stringify(nowHiking);
                    console.log(data);
                    xhttp5.send(data);
                } else {
                    nowHiking.id = userId;
                    var xhttp5 = new XMLHttpRequest();
                    xhttp5.onreadystatechange = function () {
                        if (this.readyState == 4 && this.status == 200) {
                            // 요청이 완료되었을 때의 동작
                            console.log("Far Hiking!");
                        }
                    };

                    var url = "/notVisitedHiking";
                    xhttp5.open("POST", url, true);
                    xhttp5.setRequestHeader("Content-type", "application/json");

                    var data = JSON.stringify(nowHiking);
                    console.log(data);
                    xhttp5.send(data);
                }

            }

            visitedParkList = await makeParkRequest();
            console.log("서버에서 받은 visitedParkList:", visitedParkList);

            var nowPark;
            var nowParkLat;
            var nowParkLng;


            //공원1 page 1~all
            for (let k = 1; k <= park1TotalPagesNum; k++) {
                // 각 데이터 요소에 대한 id
                let dataElementId = "park1DataElement" + k;

                // 데이터 요소에서 데이터 가져오기
                let park1Data = document.getElementById(dataElementId).getAttribute("data-value");

                // 데이터 파싱
                const park1Obj = JSON.parse(park1Data);

                for (let j = 0; j < park1Obj.length; j++) {
                    let park1Paths = [];

                    let properties = JSON.stringify(park1Obj[j].properties);
                    let parkName = JSON.parse(properties).park_name;

                    for (let k = 0; k < park1Obj[j].geometry.coordinates.length; k++) {
                        for (let i = 0; i < park1Obj[j].geometry.coordinates[k].length; i++) {
                            var park1Paths_single = [];
                            for (let l = 0; l < park1Obj[j].geometry.coordinates[k][i].length; l++) {
                                park1Paths_single.push(new kakao.maps.LatLng(park1Obj[j].geometry.coordinates[k][i][l][1], park1Obj[j].geometry.coordinates[k][i][l][0]));
                            }
                            park1Paths.push(park1Paths_single);
                        }
                    }

                    var polygon;
                    if (visitedParkList.includes(parkName)) {
                        polygon = new kakao.maps.Polygon({
                            path: park1Paths, // 그려질 다각형의 좌표 배열입니다
                            strokeWeight: 3, // 선의 두께입니다
                            strokeColor: '#79DF00', // 선의 색깔입니다
                            strokeOpacity: 0.8, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
                            strokeStyle: 'longdash', // 선의 스타일입니다
                            fillColor: '#A2FF99', // 채우기 색깔입니다
                            fillOpacity: 0.4 // 채우기 불투명도 입니다
                        });
                    } else {
                        polygon = new kakao.maps.Polygon({
                            path: park1Paths, // 그려질 다각형의 좌표 배열입니다
                            strokeWeight: 3, // 선의 두께입니다
                            strokeColor: '#424141', // 선의 색깔입니다
                            strokeOpacity: 0.5, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
                            strokeStyle: 'longdash', // 선의 스타일입니다
                            fillColor: '#424141', // 채우기 색깔입니다
                            fillOpacity: 0.4 // 채우기 불투명도 입니다
                        });
                    }

                    polygon.setMap(map);


                    kakao.maps.event.addListener(polygon, 'click', function (mouseEvent) {
                        var latlng = mouseEvent.latLng;
                        console.log(latlng.toString());
                        console.log(properties);
                        nowPark = JSON.parse(properties);
                        nowParkLat = latlng.getLat();
                        nowParkLng = latlng.getLng();
                        console.log(nowPark);
                        visitPark(nowPark, park1Paths);
                    });
                }
            }


            //공원2 page 1~all
            for (let k = 1; k <= park2TotalPagesNum; k++) {
                // 각 데이터 요소에 대한 id
                let dataElementId = "park2DataElement" + k;

                // 데이터 요소에서 데이터 가져오기
                let park2Data = document.getElementById(dataElementId).getAttribute("data-value");

                // 데이터 파싱
                const park2Obj = JSON.parse(park2Data);

                for (let j = 0; j < park2Obj.length; j++) {
                    let park2Paths = [];

                    let properties = JSON.stringify(park2Obj[j].properties);
                    let parkName = JSON.parse(properties).park_name;

                    for (let k = 0; k < park2Obj[j].geometry.coordinates.length; k++) {
                        for (let i = 0; i < park2Obj[j].geometry.coordinates[k].length; i++) {
                            var park2Paths_single = [];
                            for (let l = 0; l < park2Obj[j].geometry.coordinates[k][i].length; l++) {
                                park2Paths_single.push(new kakao.maps.LatLng(park2Obj[j].geometry.coordinates[k][i][l][1], park2Obj[j].geometry.coordinates[k][i][l][0]));
                            }
                            park2Paths.push(park2Paths_single);
                        }
                    }

                    var polygon2;
                    if (visitedParkList.includes(parkName)) {
                        polygon2 = new kakao.maps.Polygon({
                            path: park2Paths, // 그려질 다각형의 좌표 배열입니다
                            strokeWeight: 3, // 선의 두께입니다
                            strokeColor: '#79DF00', // 선의 색깔입니다
                            strokeOpacity: 0.8, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
                            strokeStyle: 'longdash', // 선의 스타일입니다
                            fillColor: '#A2FF99', // 채우기 색깔입니다
                            fillOpacity: 0.8 // 채우기 불투명도 입니다
                        });

                    } else {
                        polygon2 = new kakao.maps.Polygon({
                            path: park2Paths, // 그려질 다각형의 좌표 배열입니다
                            strokeWeight: 3, // 선의 두께입니다
                            strokeColor: '#424141', // 선의 색깔입니다
                            strokeOpacity: 0.5, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
                            strokeStyle: 'longdash', // 선의 스타일입니다
                            fillColor: '#424141', // 채우기 색깔입니다
                            fillOpacity: 0.4 // 채우기 불투명도 입니다
                        });
                    }
                    polygon2.setMap(map);


                    kakao.maps.event.addListener(polygon2, 'click', function (mouseEvent) {
                        var latlng = mouseEvent.latLng;
                        console.log(latlng.toString());
                        console.log(properties);
                        nowPark = JSON.parse(properties);
                        nowParkLat = latlng.getLat();
                        nowParkLng = latlng.getLng();
                        console.log(nowPark);
                        visitPark(nowPark, park2Paths);
                    });
                }
            }


            //공원3 page 1~all
            for (let k = 1; k <= park3TotalPagesNum; k++) {
                // 각 데이터 요소에 대한 id
                let dataElementId = "park3DataElement" + k;

                // 데이터 요소에서 데이터 가져오기
                let park3Data = document.getElementById(dataElementId).getAttribute("data-value");

                // 데이터 파싱
                const park3Obj = JSON.parse(park3Data);

                for (let j = 0; j < park3Obj.length; j++) {
                    let park3Paths = [];

                    let properties = JSON.stringify(park3Obj[j].properties);
                    let parkName = JSON.parse(properties).park_name;

                    for (let k = 0; k < park3Obj[j].geometry.coordinates.length; k++) {
                        for (let i = 0; i < park3Obj[j].geometry.coordinates[k].length; i++) {
                            var park3Paths_single = [];
                            for (let l = 0; l < park3Obj[j].geometry.coordinates[k][i].length; l++) {
                                park3Paths_single.push(new kakao.maps.LatLng(park3Obj[j].geometry.coordinates[k][i][l][1], park3Obj[j].geometry.coordinates[k][i][l][0]));
                            }
                            park3Paths.push(park3Paths_single);
                        }
                    }

                    var polygon3;
                    if (visitedParkList.includes(parkName)) {
                        polygon3 = new kakao.maps.Polygon({
                            path: park3Paths, // 그려질 다각형의 좌표 배열입니다
                            strokeWeight: 3, // 선의 두께입니다
                            strokeColor: '#79DF00', // 선의 색깔입니다
                            strokeOpacity: 0.8, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
                            strokeStyle: 'longdash', // 선의 스타일입니다
                            fillColor: '#A2FF99', // 채우기 색깔입니다
                            fillOpacity: 0.4 // 채우기 불투명도 입니다
                        });
                    } else {
                        polygon3 = new kakao.maps.Polygon({
                            path: park3Paths, // 그려질 다각형의 좌표 배열입니다
                            strokeWeight: 3, // 선의 두께입니다
                            strokeColor: '#424141', // 선의 색깔입니다
                            strokeOpacity: 0.5, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
                            strokeStyle: 'longdash', // 선의 스타일입니다
                            fillColor: '#424141', // 채우기 색깔입니다
                            fillOpacity: 0.4 // 채우기 불투명도 입니다
                        });
                    }

                    polygon3.setMap(map);


                    kakao.maps.event.addListener(polygon3, 'click', function (mouseEvent) {
                        var latlng = mouseEvent.latLng;
                        console.log(latlng.toString());
                        console.log(properties);
                        nowPark = JSON.parse(properties);
                        nowParkLat = latlng.getLat();
                        nowParkLng = latlng.getLng();
                        console.log(nowPark);
                        visitPark(nowPark, park3Paths);
                    });
                }
            }

            function visitPark(nowPark, paths) {
                var polylineTrans = new kakao.maps.Polyline({
                    map: map,
                    path: [
                        new kakao.maps.LatLng(nowParkLat, nowParkLng),
                        //new kakao.maps.LatLng(nowLat, notLng)
                        new kakao.maps.LatLng(37.47500129095575, 126.97069693667093)
                    ],
                    strokeWeight: 2,
                    strokeColor: '#FF00FF',
                    strokeOpacity: 0,
                    strokeStyle: 'dashed'
                });
                var length = polylineTrans.getLength()
                console.log("길이: " + length);
                if (length <= 10111111) {
                    nowPark.id = userId;
                    var xhttp6 = new XMLHttpRequest();
                    xhttp6.onreadystatechange = function () {
                        if (this.readyState == 4 && this.status == 200) {
                            // 요청이 완료되었을 때의 동작
                            console.log("Visited Parks added successfully!");

                            var polygon = new kakao.maps.Polygon({
                                path: paths, // 그려질 다각형의 좌표 배열입니다
                                strokeWeight: 3, // 선의 두께입니다
                                strokeColor: '#79DF00', // 선의 색깔입니다
                                strokeOpacity: 0.8, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
                                strokeStyle: 'longdash', // 선의 스타일입니다
                                fillColor: '#A2FF99', // 채우기 색깔입니다
                                fillOpacity: 0.4 // 채우기 불투명도 입니다
                            });
                            polygon.setMap(map);
                        }
                    };

                    var url = "/addVisitedPark";
                    xhttp6.open("POST", url, true);
                    xhttp6.setRequestHeader("Content-type", "application/json");

                    var data = JSON.stringify(nowPark);
                    console.log(data);
                    xhttp6.send(data);

                } else {
                    nowPark.id = userId;
                    var xhttp6 = new XMLHttpRequest();
                    xhttp6.onreadystatechange = function () {
                        if (this.readyState == 4 && this.status == 200) {
                            // 요청이 완료되었을 때의 동작
                            console.log("far Park!");
                        }
                    };

                    var url = "/notVisitedPark";
                    xhttp6.open("POST", url, true);
                    xhttp6.setRequestHeader("Content-type", "application/json");

                    var data = JSON.stringify(nowPark);
                    console.log(data);
                    xhttp6.send(data);

                }
            }

        } catch (error) {
            console.error("HTTP 요청에 실패했습니다:", error);
        }
    }

    fetchData();
</script>
</body>
</html>